@font-face {
  font-family: comicThing;
  src: url("fonts/Suplexmentary Comic NC.ttf");
}

* {
  text-decoration: none;
}

$comic-border: 7px solid black;

body {
  background-image: url("images/halftone5.png");
  background-size: 220px;
  font-family: comicThing;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;

  a {
    color: #000000;
    text-decoration: underline;
  }
}

.pointer {
  cursor: pointer;
}

#map {
  width: 400px;
  height: 230px;
  display: block;
  margin: 20px auto;
}

h1,
h2 {
  font-family: 'Bangers', cursive;
  color: #006A31;
}

header,
.topLeft,
.topRight,
.middle {
  background-color: #FFFFFF;
}

.downArrow {
  img {
    width: 300px;
    margin: 120px auto 700px auto;
    display: block;
    /*display: none;*/
  }
}

.wrapper {
  width: 960px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-column: auto;
}

header {
  margin: 0 0 6px;
  grid-column: 1 / 2;

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.top {
  grid-column: 1 / 2;
  margin-bottom: 6px;

  .inner_top_grid {
    display: grid;
    grid-template-columns: 477px 6px 477px;
  }

  .topLeft,
  .topRight {
    vertical-align: top;

    p {
      display: inline-block;
    }
  }

  .topLeft {
    // width: 48%;
    height: 630px;
    background-image: url("images/speech2.png");
    background-repeat: no-repeat;
    background-size: 386px 381px;
    border: $comic-border;
    background-color: #E0E0E0;
    grid-column: 1 / 2;
    display: grid;
    // grid-template-rows: 60px auto 263px;
    grid-template-rows: 70px auto 263px;
    // grid-template-columns: 72px 60px auto 106px;
    grid-template-columns: 72px 60px auto 126px;

    p {
      // margin: 54px 106px 135px 98px;
      font-size: 22px;
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      margin: 0;
    }

    img {
      max-width: 400px;
      /* margin-left: 126px; */
      /* display: block; */
      grid-column: 3 / 5;
      grid-row: 3 / 4;
    }
  }

  .topRight {
    // width: 48%;
    height: 630px;
    // display: inline-block;
    // margin: 0;
    border: $comic-border;
    grid-column: 3 / 4;

    p {
      font-size: 21px;
      margin: 0 60px 0 60px;
    }

    img {
      display: block;
      margin: 35px auto;
    }
  }
}

.middle {
  // border: $comic-border;
  // background-image: url("images/batcompy.png");
  // background-repeat: no-repeat;
  // background-position: -633px -132px;
  // background-size: 222%;
  font-family: 'Roboto Mono';
  margin-bottom: 6px;
  background-color: transparent;

  .inner_middle_grid {
    // display: grid;
    // grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 6px;

    h1 {
      font-family: 'Roboto Mono';
      text-align: center;
      border: $comic-border;
      margin: 0 0 6px;
      // margin-top: 40px;
      // margin-bottom: 0;
      color: #4A5A8C;
      font-size: 55px;
      // grid-column: 1 / 4;
      grid-column: 1 / 4;
      background-color: #FFFFFF;
    }

    p {
      margin: 4px;
      /*font-family: 'Roboto Mono', ;*/
    }
    // .skillList {
    // width: 655px;
    // margin: 0 auto;
    // display: grid;
    // grid-template-columns: 1fr 5px 1fr 5px 1fr;
    // grid-column: 2 / 3;

    .frontEnd {
      grid-column: 1 / 2;
    }

    .backEnd {
      grid-column: 2 / 3;
    }

    .tools {
      grid-column: 3 / 4;
    }

    .frontEnd,
    .backEnd,
    .tools {
      background-color: #FFFFFF;
      border: $comic-border;
      // display: inline-block;
      vertical-align: top;
      // margin: 0 10px;
      font-size: 20px;
      color: #4A5A8C;

      h2 {
        font-family: 'Roboto Mono';
        text-align: center;
        color: #4A5A8C;
      }

      ul {
        color: #4A5A8C;
      }
    }
  }

  // }
}


.bottom {
  margin-bottom: 6px;
  height: 265px;

  .wrapLeft {
    padding: 10px 30px 0 10px;
    height: 248px;
    width: 44.8%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    /*z-index: 8;*/
    border-top: 7px solid #000000;
    border-left: 7px solid #000000;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      transform: skewX(-14deg);
      background: #FFFFFF;
      z-index: -2;
      top: -5.1%;
      left: -9.8%;
      border: 7px solid #000000;
    }

    .innerWrap {
      h3 {
        font-size: 20px;
        margin-top: 0;
      }

      ul {
        display: inline-block;
        width: 140px;
        vertical-align: top;
        font-size: 17px;
        margin-top: 0;
      }

      .pokeball {
        width: 165px;
      }
    }
  }

  .wrapRight {
    padding: 10px 10px 0 30px;
    height: 248px;
    width: 44.8%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    /*z-index: 8;*/
    border-bottom: 7px solid #000000;
    border-right: 7px solid #000000;
    text-align: right;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      transform: skewX(-14deg);
      background: #FFFFFF;
      z-index: -2;
      top: 0%;
      right: -9%;
      border: 7px solid #000000;
      /*background-image: url("images/hungry.png");
      background-repeat: no-repeat;*/
    }

    p {
      padding-left: 40px;
      font-size: 18px;
      margin-top: 3px;
    }
  }
}



.megaBottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr;
  grid-row-gap: 6px;
  grid-column-gap: 6px;
  margin: 0 0 6px;

  .projectsHead {
    border: 7px solid #000000;
    background-color: #FFFFFF;
    // margin-bottom: 6px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    h1 {
      font-size: 75px;
      text-align: center;
      margin: 0;
    }
  }


  .chalogy_outer {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .askdrapa_outer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .nny_outer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .flirt_outer {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
  }

  .platey_outer {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .datamapper_outer {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }


}


@mixin makeProj ($height, $image) {
  height: $height;
  background-image: url($image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.datamapper {
  @include makeProj(533px, "images/projects/datamapper2.png");
}

.sule {
  @include makeProj(533px, "images/projects/datamapper2.png");
}

.zap {
  @include makeProj(533px, "images/projects/datamapper2.png");
}

.askdrapa {
  @include makeProj(533px, "images/projects/askdrapa_1.png");
}

.chalogy {
  @include makeProj(533px, "images/projects/chalogy_1.png");
}

.dplusshop {
  @include makeProj(533px, "images/projects/datamapper2.png");
}

.flirt {
  @include makeProj(100%, "images/projects/flirt_1.png");
  box-sizing: border-box;
}

.nny {
  @include makeProj(533px, "images/projects/nny_1.png");
}

.platey {
  @include makeProj(533px, "images/projects/platey_1.png");
}

.datamapper,
.sule,
.zap,
.askdrapa,
.chalogy,
.dplusshop,
.flirt,
.nny,
.platey {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 7px solid #000000;
  background-color: #FFFFFF;
  // margin-bottom: 6px;
  &:not(.flirt) {
    height: 476px;
  }
  // height: 100%;

  // .arrow {
    svg {
      width: 75px;
      height: 75px;
    }
  // }





  .btn {
    text-align: center;
    // img {
    //   width: 20%;
    //   // display: block;
    //   // margin: 160px auto;
    // }

    svg {
      height: 100%;
      width: 100%;
      stroke: #FFFFFF;
      stroke-width: 0.1px;
    }
  }
}


.grid_one {
  grid-template-columns: 1fr auto 1fr;

  .plus_div {
    text-align: center;
    height: 159px;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }
}

.grid_two {
  grid-template-columns: 1fr 1fr 1fr;

  .plus_div_2 {
    text-align: center;
    height: 159px;

    .btn {
      text-align: center;
      height: 100%;
    }
  }
}

// .datamapper {
//   height: 533px;
//   background-image: url("images/projects/datamapper2.png");
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
// }

// .sule {
//   height: 468px;
//   background-image: url("images/projects/sule2.png");
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
// }
//
// .zap {
//   height: 472px;
//   background-image: url("images/projects/zap2.png");
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
// }


footer {
  border: 7px solid #000000;
  background-color: #FFFFFF;

  h2 {
    text-align: center;
    margin: 5px;
    font-size: 40px;
  }
}

.contacts {
  width: 310px;
  margin: 0 auto;

  .contact {
    display: inline-block;
    margin: 5px 25px;

    .icon {
      width: 50px;
      display: inline-block;
    }
  }
}



.thing {
  font-size: 70px;
}

/* MODAL SECTION DOWN HERE */

.popup {
  width: 101vw;
  height: 101vh;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.75);

  .popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background-color: #FFFFFF;
    z-index: 10;

    h3 {
      text-align: center;
    }

    .full_cara {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      justify-content: center;

      svg {
        width: 75px;
        height: 75px;
      }


    }


    .languages {
      text-align: center;
      margin: 60px auto 20px auto;
      // width: 50%;
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.popup:not(flirt_sub) {
  .cara_img {
    width: 500px;
    height: 353px;
  }
}

.flirt_sub {
  .left,
  .right {
    text-align: center;
  }

  .full_cara {
    margin-left: -20px;

    img {
      width: 160px;
    }
  }
}

.popup-close {
  width: 30px;
  height: 30px;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: #FFFFFF;

  &:hover {
    -webkit-transform:translate(50%, -50%) rotate(100deg);
    transform: translate(50%, -50%) rotate(100deg);
    background-color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }

}

/* MODAL CONTENT */

// .popup .popup-inner a {
//   text-decoration: none;
// }


.exit {
  width: 30px;
  float: right;
}

.html {
  // width: 120px;
  width: 80px;
  height: 90px;
}

.css {
  width: 80px;
  height: 90px;
}

.javascript {
  // width: 120px;
  // height: 95px;
  width: 80px;
  height: 90px;
}

.bourbon {
  width: 100px;
  height: 100px;
}

.ruby {
  width: 100px;
  height: 100px;
}

.rails {
  width: 100px;
  height: 100px;
}

.kitty {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.wordpress {
  width: 90px;
  height: 90px;
}

.angular {
  width: 90px;
}

.sass {
  width: 90px;
  height: 90px;
}

.shopify {
  width: 90px;
}

.chrome_storage {
  width: 90px;
}


.top,
.middle,
.bottom,
.projectsHead,
.datamapper_outer,
.sule_outer,
.zap_outer,
.askdrapa_outer,
.chalogy_outer,
.flirt_outer,
.nny_outer,
.platey_outer,
footer {
  display: none;
}
