@font-face {
  font-family: comicThing;
  src: url("fonts/Suplexmentary Comic NC.ttf");
}

body {
  background-image: url("images/halftone5.png");
  background-size: 220px;
  font-family: comicThing;
  font-size: 20px;
  letter-spacing: 1px;
}

h1, h2 {
  font-family: 'Bangers', cursive;
  color: #006A31;
}

header, .topLeft, .topRight, .middle {
  background-color: #FFFFFF;
}

.downArrow img {
  width: 300px;
  margin: 120px auto 700px auto;
  display: block;
  /*display: none;*/
}

.wrapper {
  width: 960px;
  height: auto;
  margin: 0 auto;
}

.top, .middle, .bottom .wrapLeft, .bottom .wrapRight, .projectsHead, .datamapper, .sule, .zap, footer {
  display: none;
}

header {
  margin: 6px 0;
}

header img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.top {
  margin-bottom: 6px;
}

.topLeft, .topRight {
  vertical-align: top;
}

.topLeft p, .topRight p {
  display: inline-block;
}

.topLeft {
  width: 48%;
  height: 630px;
  background-image: url("images/speech2.png");
  background-repeat: no-repeat;
  background-size: 406px 381px;
  display: inline-block;
  margin: 0 5px 0 0;
  border: 7px solid black;
  background-color: #E0E0E0;
}

.topLeft p {
  margin: 54px 106px 135px 98px;
  font-size: 22px;
}

.topLeft img {
  width: 233px;
  margin-left: 224px;
  display: block;
}

.topRight {
  width: 48%;
  height: 630px;
  display: inline-block;
  margin: 0;
  border: 7px solid black;
}

.topRight p {
  font-size: 21px;
  margin: 0 60px 0 60px;
}

.topRight img {
  display: block;
  margin: 35px auto;
}

.middle {
  border: 7px solid black;
  background-image: url("images/batcompy.png");
  background-repeat: no-repeat;
  background-position: -633px -132px;
  background-size: 222%;
  font-family: 'Roboto Mono';
  margin-bottom: 6px;
}

.middle h1 {
  font-family: 'Roboto Mono';
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
  color: #4A5A8C;
  font-size: 55px;
}

.middle p {
  margin: 4px;
  /*font-family: 'Roboto Mono', ;*/
}

.skillList {
  width: 655px;
  margin: 0 auto;
}

.frontEnd, .backEnd, .tools {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  font-size: 20px;
  color: #4A5A8C;
}

.frontEnd h2, .backEnd h2, .tools h2 {
  font-family: 'Roboto Mono';
  text-align: center;
  color: #4A5A8C;
}

.frontEnd ul, .backEnd ul, .tools ul {
  color: #4A5A8C;
}

.bottom {
  margin-bottom: 6px;
  height: 265px;
}

.wrapLeft {
  padding: 10px 30px 0 10px;
  height: 248px;
  width: 43.8%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 8;
  border-top: 7px solid #000000;
  border-left: 7px solid #000000;
}

.wrapLeft:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: skewX(-14deg);
  background: #FFFFFF;
  z-index: -2;
  top: -5.1%;
  left: -9.8%;
  border: 7px solid #000000;
}

.innerWrap h3 {
  font-size: 20px;
  margin-top: 0;
}

.innerWrap ul {
  display: inline-block;
  width: 140px;
  vertical-align: top;
  font-size: 17px;
  margin-top: 0;
}

.pokeball {
  width: 165px;
}

.wrapRight {
  padding: 10px 10px 0 30px;
  height: 248px;
  width: 44.8%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 8;
  border-bottom: 7px solid #000000;
  border-right: 7px solid #000000;
  text-align: right;
}

.wrapRight:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: skewX(-14deg);
  background: #FFFFFF;
  z-index: -2;
  top: 0%;
  right: -9%;
  border: 7px solid #000000;
  /*background-image: url("images/hungry.png");
  background-repeat: no-repeat;*/
}

.wrapRight p {
  padding-left: 40px;
  font-size: 18px;
  margin-top: 3px;
}

.projectsHead {
  border: 7px solid #000000;
  background-color: #FFFFFF;
  margin-bottom: 6px;
}

.projectsHead h1 {
  font-size: 75px;
  text-align: center;
  margin: 0;
}

.datamapper, .sule, .zap {
  border: 7px solid #000000;
  background-color: #FFFFFF;
  margin-bottom: 6px;
  height: 476px;
}

.datamapper {
  height: 533px;
  background-image: url("images/projects/datamapper2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.sule {
  height: 468px;
  background-image: url("images/projects/sule2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.zap {
  height: 472px;
  background-image: url("images/projects/zap2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.datamapper img, .sule img, .zap img {
  width: 20%;
  display: block;
  margin: 160px auto;
}

footer {
  border: 7px solid #000000;
  background-color: #FFFFFF;
}

footer h2 {
  text-align: center;
  margin: 5px;
  font-size: 40px;
}

.contacts {
  width: 310px;
  margin: 0 auto;
}

.contact {
  display: inline-block;
  margin: 5px 25px;
}

.icon {
  width: 50px;
  display: inline-block;
}
