* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Arial; }

.container h1,
.container h3,
.container #weights,
.container .inputs,
.container #output {
  text-align: center; }
.container h1 {
  text-align: center;
  margin: 30px 0 0; }
.container .lb_or_kg select {
  border: 1px solid black;
  border-radius: 0;
  margin: 30px auto;
  display: block;
  background-color: #FFFFFF; }
.container #weights {
  flex-wrap: wrap;
  display: none;
  width: 180px;
  margin: 50px auto;
  justify-content: space-around; }
  .container #weights .roundedOne {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 0 auto;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
    .container #weights .roundedOne label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      left: 4px;
      top: 4px;
      background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
      background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; }
      .container #weights .roundedOne label:after {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 2px;
        background: #27ae60;
        background: -webkit-linear-gradient(top, #27ae60 0%, #145b32 100%);
        background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
        opacity: 0;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
      .container #weights .roundedOne label:hover::after {
        opacity: 0.3; }
    .container #weights .roundedOne input[type=checkbox] {
      visibility: hidden; }
    .container #weights .roundedOne input[type=checkbox]:checked + label:after {
      opacity: 1; }
  .container #weights .chex {
    margin: 10px 5px; }
.container .inputs {
  margin: 0 0 100px; }
  .container .inputs .ind_input {
    margin: 20px; }
    .container .inputs .ind_input label {
      display: block;
      font-size: 28px; }
    .container .inputs .ind_input input {
      font-size: 25px;
      width: 200px;
      padding: 3px;
      border: none;
      border-bottom: 2px solid black;
      margin: 5px;
      text-align: center; }
  .container .inputs input[type="button"],
  .container .inputs input[type="reset"] {
    font-size: 25px;
    border: 1px solid black;
    background-color: transparent;
    padding: 3px 6px;
    margin: 0 3px; }
.container #output {
  display: none; }
  .container #output p {
    font-size: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center; }
    .container #output p.error {
      font-size: 28px;
      color: #FF0000;
      text-align: center; }
    .container #output p .sing_plate {
      background-color: #000000;
      color: #FFFFFF; }
    .container #output p #bar {
      width: 240px;
      background-color: #A9A9A9;
      color: #FFFFFF; }

@media screen and (min-width: 480px) {
  .lb_or_kg select {
    width: 75px;
    height: 30px; }

  .sing_plate {
    font-size: 16px;
    margin: 0 2px; }
    .sing_plate.one {
      padding: 10px 3px; }
    .sing_plate.two {
      padding: 15px 3px; }
    .sing_plate.two_five {
      padding: 15px 3px; }
    .sing_plate.five {
      padding: 20px 5px; }
    .sing_plate.ten {
      padding: 25px 5px; }
    .sing_plate.fifteen {
      padding: 25px 5px; }
    .sing_plate.twenty {
      padding: 30px 5px; }
    .sing_plate.twenty_five {
      padding: 35px 5px; }
    .sing_plate.thirty_five {
      padding: 45px 10px; }
    .sing_plate.forty_five {
      padding: 55px 10px; }
    .sing_plate.fifty_five {
      padding: 65px 15px; }

  #bar {
    font-size: 18px;
    height: 20px; } }
@media screen and (orientation: portrait) and (max-width: 479px) {
  /*h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  #weights .chex p {
    font-size: 36px;
  }

  #weights .chex .roundedOne {
    width: 48px;
    height: 48px;
  }

  #weights .chex .roundedOne label {
    width: 40px;
    height: 40px;
  }

  #weights .chex .roundedOne label::after {
    width: 36px;
    height: 36px;
  }*/
  .lb_or_kg select {
    width: 85px;
    height: 50px;
    font-size: 20px;
    padding: 4px; }

  #output {
    margin: 0 10px;
    height: 100px; }
    #output .sing_plate {
      font-size: 10px;
      margin: 0 1px; }
      #output .sing_plate.one {
        padding: 5px 1px; }
      #output .sing_plate.two {
        padding: 5px 1px; }
      #output .sing_plate.two_five {
        padding: 5px 1px; }
      #output .sing_plate.five {
        padding: 10px 2px; }
      #output .sing_plate.ten {
        padding: 15px 2px; }
      #output .sing_plate.fifteen {
        padding: 20px 2px; }
      #output .sing_plate.twenty {
        padding: 20px 2px; }
      #output .sing_plate.twenty_five {
        padding: 25px 2px; }
      #output .sing_plate.thirty_five {
        padding: 35px 5px; }
      #output .sing_plate.forty_five {
        padding: 45px 5px; }
      #output .sing_plate.fifty_five {
        padding: 55px 5px; }
    #output #bar {
      font-size: 10px;
      height: 12px;
      padding: 4px; } }

/*# sourceMappingURL=style2.css.map */
